<script type="text/javascript">

    /* employee profile update handler */
    $('#employee-profile-form').submit(function(e){
        e.preventDefault();
        
        /* read the form */
        let formData = {
            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val(),
            'username': $("input[name='username']").val(),
            'email': $("input[name='email']").val(),
            'phone_number': $("input[name='phone_number']").val(),
        }
        
        let url = $('#employee-profile-form').attr('action');
        
        /* post form using ajax */
        $.post(url, formData, function(data, status){
            $('.main-content .card-body').html(data);
        });
    });
</script>