.my-btn {
    border-width: .75px;
    border-style: solid;
    border-radius: 2px;
    margin: 1px;
    transition: all .2s;
    font-weight: 500;
}

.btn-add {
    background: $metallicSeaweed;
    border-color: $metallicSeaweed;
    margin: 3px;
    padding:10px;
    color: $white;
    border: none;
    
    span {
        margin-right: 3px;
        padding: 0 3px;
        border-radius: 10%;
        font-weight: 600;
        font-size: 18px;
        // background: lighten($metallicSeaweed, 5%);
        box-sizing: border-box;
        display: inline-block;
    }
}