{% extends 'core/base.html' %}

{% block title %}Django HRMS - Dashboard{% endblock %}

{% block content %}
    <div class="main-tabbed-nav mb-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="employees-tab" href="#">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Company Assets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Notifications <span class="badge badge-primary">0</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My Account</a>
            </li>
        </ul>
    </div>
    
    <div class="main-content card">
        <div class="card-body pt-3">
            {% include './employees.html' %}
        </div>
    </div>
{% endblock %}